In [1]:
import geopandas as gpd
import pandas as pd
import openmatrix as omx

In [2]:
# read csv of trip file
trips = pd.read_csv("J:\My Drive\LINKED_TRIPS_20211101_editApr22.csv",low_memory=False)

In [ ]:
# import omx ped skim
pedskim = omx.open_file('J:\\Shared drives\\TMD_TSA\\Data\\Non_Motorized_Networks\\Ped\\ped3_skim.omx','r')

In [3]:
pedskim = pd.read_csv("C:\\Users\\matkinson.AD\\Downloads\\skim2.csv",low_memory=False)

In [4]:
trips[(trips['OTAZ'] > 0) & (trips["DTAZ"] > 0) & (trips["MODE4"].isin([1,2]))][["OTAZ","DTAZ"]]

        OTAZ  DTAZ
7        669   669
8        669   669
12       669   669
13       669   669
22       697   690
...      ...   ...
117970   651   653
117992    74    99
117993    99    74
118008  1108  1111
118009  1111  1108

[11393 rows x 2 columns]

In [6]:
pedskim = pedskim.drop(columns=["ID"])
pedskim = pedskim.set_index(pedskim.columns)

In [7]:
pedskim.at['1','1']

0.182646

In [8]:
pedskim

,1,2,3,4,5,6,7,8,9,10,...,209091,209092,209093,209094,209095,209096,209097,209098,209099,209100
1,0.182646,0.271147,0.449851,0.544925,0.692277,0.657478,1.012289,0.836521,0.949628,0.776118,...,49.908386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.271147,0.124573,0.205372,0.300446,0.447798,0.413000,0.767810,0.592042,0.705149,0.531639,...,49.869606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.449851,0.205372,0.096645,0.167991,0.378036,0.244106,0.685623,0.448176,0.537756,0.358498,...,49.840569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.544925,0.300446,0.167991,0.103126,0.284439,0.166328,0.602444,0.364997,0.454578,0.311077,...,49.979733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.692277,0.447799,0.378036,0.284439,0.100142,0.198639,0.379521,0.147452,0.260874,0.254761,...,50.175880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.125664,27.921932,22.155836,17.213871,10.205052,3.003114,17.262577,19.551456,25.374973,30.509464
209097,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,42.664001,40.460278,34.694176,29.797386,23.190626,17.262583,3.633044,11.202668,17.026182,22.160675
209098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,44.952877,42.749153,36.983051,32.086262,25.479496,19.551453,11.202669,1.891709,11.030899,16.165386
209099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49.824883,47.621159,41.855057,36.958263,31.303003,25.374960,17.026182,11.030897,1.583301,6.398541
209100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,54.959373,52.755650,46.989548,42.092758,36.437489,30.509447,22.160666,16.165384,6.398540,1.079529

In [ ]:
for pair in trips:
    if pedskim[pair] > 0:
        exists.append(pair)
    else:
        disconnected.append(pair)

In [11]:
connected = {}
disconnected = {}
for index, row in trips[(trips['OTAZ'] > 0) & (trips["DTAZ"] > 0) & (trips["MODE4"].isin([1,2]))][["OTAZ","DTAZ"]].iterrows():
    if pd.notna(float(pedskim.at[str(row[0]),str(row[1])])):
        if row[0] in connected:
            connected[row[0]].append(row[1])
        else:
            connected[row[0]] = [row[1]]
    else:
        if row[0] != row[1]:
            if row[0] in disconnected:
                disconnected[row[0]].append(row[1])
            else:
                disconnected[row[0]] = [row[1]]

In [12]:
disconnected

{}